<template>
    <div class="test">
        <h1>{{title}}</h1>
        <p v-if="showName">{{user.firstName}}</p>
        <p v-else>Nobody</p>
    </div>
</template>

<script>
export default {
    name: 'test',
    props: {
        title: String,
        showName: Boolean,
        user: {
                firstName: String,
                lastName: String 
            }
    },
    data(){
        
    }
}
</script>

<style scoped>

</style>

