<template>
  <div id="app">
    <test title="Hello World" v-bind:user="{
      firstName: 'Lana',
      lastName: 'Jurcevic'
    }" showName.bool = true ></test>

    <test title="Hello World grana1" v-bind:user="{
      firstName: 'Nikola',
      lastName: 'Stanisavljevic'
    }" showName.bool = true ></test>

        <test title="Hello World grana1" v-bind:user="{
      firstName: 'Sani',
      lastName: 'Sani'
    }" showName.bool = true ></test>
  </div>
</template>

<script>
import Test from './components/test.vue'

export default {
  name: 'app',
  components: {
    Test
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
